#showImg{
    width: auto;
    height: 400px;
}

#intro-example {
    height: 400px;
}

#background-image{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
        height: 600px;
    }
}